*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(82, 82, 252);
}
.background-image{
    background-image: url(https://media.istockphoto.com/id/1390975349/photo/multiracial-group-of-happy-students-talking-and-having-fun-after-the-lecture-at-campus.jpg?s=1024x1024&w=is&k=20&c=h43jXlr5dRIMLHVbg0mo15mJpIszBTAPhUEA-1m-VHE=);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
h1{
    text-align: center;
    color: aliceblue;
}
h3{
    text-align: center;
    text-decoration: underline;
    color: aliceblue;
}
#name{
    width: 80%;
    padding: 5px;
    border-radius: 5%;
    outline: 0;
    border: 1px solid lightgray;
}
table{
    width: 500px;
    height: 600px;
    color: white;
    background-color: rgb(129, 129, 247);
    border-collapse: collapse;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    border: 3px solid white;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}
